*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  overflow-x: hidden ;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}
a{
  text-decoration: none;
  color:white;
}
li{
  list-style: none;
}
body.menu-opened {
  overflow: hidden;
}
body.menu-opened::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.65;
  z-index: 1;
}
label{
  cursor: pointer;
}
.admin-page-wrap {
  position:relative; 
  min-height:100%;
}
/* 본문 */
.mobile-wrap{
  width: 100%;
}
section{
  padding-top: 50px;
}
.member{
  width: 335px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #000;
}
.member-list{
  background-color: #000;
  color: #fff;
  height: 42px;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  padding-left: 10px;
}
.member-title{
  height: 42px;
  background-color:#E9E8EC;
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}
.m-num{
  width: 54px;
  text-align: center;
}
.m-id{
  width: 260px;
  text-align: center;
}
.members-info{
  height: 42px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid #B5B5B5;
}
.members-info:last-child{
  margin-bottom: 30px;
}
.modal{
  width: 336px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: none;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.modal-title{
  height: 69px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  border-radius: 5px 5px 0 0;
}
.modal-title div{
  margin-right: 81px;
}
.close-btn{
  width: 20px;
  height: 20px;
  margin-right: 24px;
}
.members-detail{
  display: flex;
  align-items: center;
}
.detail-sort{
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  width: 30%;
}
.detail-info{
  font-size: 14px;
  padding: 10px;
  width: 70%;
  text-align: center;
}
.delete{
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #000;
  color:#fff;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
}
.pc-wrap{
  display: none;
}
footer{
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  position:absolute; 
  width:100%; 
  bottom:0;
}
.foot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot p{
  margin-bottom: 6px;
}
@media screen and (min-width:1024px){
  .mobile-wrap{
    display: none;
  }
  .pc-wrap{
    display: block;
    width: 1200px;
    margin: 0 auto;
  }
  .member{
    width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #000;
  }
  .member-title{
    width: 100%;
    height: 42px;
    background-color:#E9E8EC;
    text-align: center;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .pc-members-info{
    display: flex;
    text-align: center;
    margin-left: 7px;
  }
  .col1{width: 160px;}
  .col2{width: 200px;}
  .col3{width: 200px;}
  .col4{width: 130px;}
  .col5{width: 135px;}
  .col6{width: 200px;}
  .col7{width: 130px;}
  .delete{
    margin-left: 43px;
  }
}