.open-calendar{
  position: relative;
}
.wrap{
  padding: 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header{
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.calendar-title{
  font-weight: 700;
  font-size: 24px;
}
h3{
  font-weight: 400;
}
.calendar{
  margin: auto;
  width: 100%;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 25px 10px 40px 0; */
  margin: 0 auto;
  width: 90%;
  padding-top: 26px;
}
.calendar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li{
  width: calc(100%/7);
  margin-top: 25px;
  position: relative;
  z-index: 2;
}
.holiday{
  color: red;
}
#prev,#next{
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
#prev::before,#next::before{
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #000;
}
#next::before{
  transform: translate(-50%,-50%) rotate(45deg);
}
#prev::before{
  transform: translate(-50%,-50%) rotate(-135deg);
}
.days{
  font-weight: 700;
}
.dates li{
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
/* .dates li.today{
  color: #fff;
}
.dates li.today::before{
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
} */
.dates li.inactive{
  color: #fff;
  pointer-events: none;
}

/* 선택 날짜 */
.selected {
  color: #377AFF;
}
.selected::before{
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top:60%;
  left:51%;
  transform: translate(-50%,-50%);
  background: #E0EFFF;
  border-radius: 50%;
  z-index: -1;
}
.date-hidden{
  display: none;
}



@media screen and (min-width:1024px) {
  .wrap{
    width: 350px;
    height: 460px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 2px 10px rgba(0,0,0,0.23);
    position:absolute;
    top: 35px;
  }
  .header{
    border: none;
    margin: 0 auto;
    padding-top: 15px;
  }
  .banner h3{
    font-size: 18px;
  }
  .calendar{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 310px;
    height: 367px;
    padding:0 20px;
  
  }
  .calendar ul li{
    width: calc(100%/7);
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }
  .dates li{font-size: 16px;}
  /* .header img{display: none;} */
}
