/* header */
header{
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.head{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .main-logo{
  display: flex;
  align-items: center;
}

.menu-container{
  margin-left: 30px;
  display: none;
}

.menu-container ul li:not(li:last-child){
  margin-right: 10px;
}

.menu-container li{
  margin-right: 10px;
}

/* 메뉴 호버 색깔 */
.menu-container li a:hover{
  color: #FEC100;

  text-decoration: underline;
  text-underline-offset: 5px ;
  text-decoration-thickness: 2px;
}

.head ul{
  display: flex;
}

.head .main-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-area nav{
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info div > a:hover {
color: #FEC100;

text-decoration: underline;
text-underline-offset: 5px ;
text-decoration-thickness: 2px;

}

.main-area nav > div:hover a svg{
fill: #FEC100;
}

.user-info{
  position: relative;
  display: flex;
  align-items: center;
}

.user-info > div{
  padding-right: 15px;
}

.user-info div:nth-child(n+1){
  display: none;
}

.user-img{
  width: 36px;
  height: 36px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #FEC100;
  
}

.user-img img{
width: 100%
}

/* user 선택박스 */
.user-btn{
  cursor: pointer;
}

.user-list{
  background: #fff;
  color: #000;
  position: absolute;
  top: 40px;
  right: -45px;
  box-shadow: 0 4px 4px  black;
  display: flex;
  flex-direction: column;
  width: 122px;
  font-size: 16px;
  border-radius: 5px;
  z-index: 100;
}

.user-list a{
  color: #000;
}

.user-list li:first-child{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.user-list li:first-child div:nth-child(2){
  font-size: 13px;
  color: #b5b5b5;
}

.user{
  padding: 10px 10px;
  cursor: pointer; 
}

.user:nth-child(n+2):hover{
  background: #cccccc7c;
}

.user-hidden{
display: none;
}

.toggle-search-img{
display: none;
}

.toggle-search-img:hover {
box-shadow: inset 0 -2px 0 0 #fec100; 
/* border_bottom에 선을 주지 않고 box-shadow를 이렇게 주면
 호버 했을 시 움찔하는 현상 없음  */
}



/* 지역 선택 박스 */

#area-box {
  position: relative;
  padding-right: 5px;
  /* margin-bottom: 5px; */
}

#area-box:hover path{
fill: #fec100;
}

#area-button {
display: flex;
cursor: pointer;
align-items: center;
}

#area-button img {
padding-right: 5px;
}

.option-list {

background: #fff;
color: #000;

width: 80px;

position: absolute;
top: 30px;
left: -7px;
z-index: 20;

flex-direction: column;

box-shadow: 0 4px 4px black;

border-radius: 5px;

overflow: hidden;
}

.option {
padding: 5px 8px;

text-align: center;
cursor: pointer;
}

.option:hover {
background: #ccc;
}

.option-hidden {
display: none;
}

/* 토글 */
.toggle{
  position: relative;
  color: #000;
}

.tog-btn {
  top: 0;
  right: 0;
}

#toggleButton{
  background: #000;
  border: none;
  cursor: pointer;
}

#toggleButton:hover path {
fill: #FEC100;
}

.tog-menu {
  position: fixed;
  top: 0;
  right: -10px;
  background-color: #fff;
  flex-direction: column;
  width: 66vw;
  height: 100vh;
  display: none;
  z-index: 2;
}

.tog-menu > div{
  display: flex;
  flex-direction: column;
}

.tog-menu .id-box{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.tog-menu .id{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 15px 0px;
}

.id li a {
color: black;

}

.toggle-user-wrap {
display: flex;
align-items: center;
}

.toggle-user-img-wrap {
display: inline-block;
width: 32px;
height: 32px;
border-radius: 50px;
overflow: hidden;

border: 2px #08a5c0 solid;
margin-right: 15px;
}

.toggle-user-img-wrap img {
width: 100%;
}

#closeButton{
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;
  height: 100%;
}

#closeButton img {
width: 100%;
height: 100%;
}

.menus{
  width: 100%;
  padding: 40px 20px 0px 20px;
  text-align: right;
}

.menus div ul{
  padding-right: 20px;
}

.menus div ul li{
  padding-bottom: 14px;
}

.menus div:first-child{
  border-bottom: 1px solid #ccc;
}

.menu a{
  color: #000;
}

.menu li{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.menu li a:hover{
  color: #08a5c0;
}

.tog-menu .menu{
  display: flex;
  flex-direction: column;
}

.as li{
  font-size: 15px;
  margin-bottom: 6px;
}

.as a {
color:  #ccc;
}

.tog-menu .as{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}


@media screen and (min-width:768px)  {
    /* toggle */
  .tog-menu{
      width: 33vw;
    }
  }

  @media screen and (min-width:1024px) {

    /* header */
    .head{
      width: 100%;
  }

  .user-info div:nth-child(n+1){
      display: block;
  }

  .user-info {
    margin-right: 15px;
  }

  #area-box{
      padding-right: 15px;
  }

  .toggle-search-img{
      display: block;
  }

  .menu-container{
      display: block;
  }

  .main-area nav{
      display: flex;
  }

  .main-area nav div:first-child, .main-area nav div:nth-child(n+3){
      display: block;
  }

  .toggle{
      display: none;
  }

}

@media screen and (min-width:1440px) {

    /* all seclect */
    header{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .head{
        width: 100%;
        max-width: 1200px;
    }

    .user-info div:nth-child(n+1){
        display: block;
    }

    .toggle-search-img{
        display: block;
    }

    #area-box{
        padding-right: 15px;
    }

    .menu-container{
      display: block;
    }

    .main-area nav{
        display: flex;
        margin-right: 10 px;
    }

    .main-area nav div:first-child, .main-area nav div:nth-child(n+3){
        display: block;
    }
    
    .toggle{
        display: none;
    }

}